.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}


html,body{
    margin: 0;
    background-color: #f3feff;
    font: 100% "Zen Maru Gothic", sans-serif;
}
p{
  color: #555;
  margin: 0;
}
hr{
  margin: auto 20px;
  border: none;
  border-top: 2px solid #c7e2e0;
}

header{
    padding: 10px;
    height: 60px;
    position: fixed;
    display: flex;
    background-color: #ffffffaa;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
header h1{
    line-height: 60px;
    margin: 0 0 0 10px;
}
header img{
    height: 60px;
    margin: 0;
    border-radius: 10px;
}

.top{
  height: 90vh;
}
.topofbox{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.cachecopy{
    width: 12em;
    animation: typing 2s steps(12), effect .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    color: #000;
  }
   
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes effect {
    50% {
      border-color: transparent
    }
  }
  
.about{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.about img{
  width: 500px;
  margin: 10px;
  border-radius: 10px;
}
.about div{
  margin: 10px;
}

.howtojoin{
  margin: 10px;
}
.howtojoin h3{
  text-align: center;
  font-size: 2em;
}


.joinstap{
  width: calc(100% -30px);
  margin: 0 15px;
}
.joinhead{
  display: flex;
}
.joinstapnum{
  width: 1em;
  height:1em;
  line-height:1em;
  padding: 10px;
  background-color: #c7e2e0;
  border-radius: 50%;
  z-index: 0;
}
.joinstap h4{
  margin: 2px 0 2px 10px;
  font-size: 1.25em;
}
.joins{
  margin: 10px 10px 0 50px;
}
.joins a{
  display: block;
  text-decoration: none;
  background: linear-gradient(90deg ,#befafa ,#7effff);
  color: #000;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  width: calc(100% - 40px);
  max-width: 600px;
  border-radius: 10px;
}
.joins a:hover{
  background: linear-gradient(90deg ,#d4ffff ,#99ffff);
}


.onlinetime div{
  height: 90vh;
  width: calc(100% - 20px);
  margin: 10px;
}

footer{
    margin: 0 10px;
    border-top: #ddd solid 2px;
    text-align: center;
}

@media screen and (max-width: 850px) {
  .about{
    display: block;
  }
  .about img{
    width: calc(100% - 20px);
  }
  .cachecopy{
    font-size: 1.5em;
  }
}